/* オンラインで行う家庭教師forme */
#first_page *{
    font-family: 'BIZ UDPMincho', serif;
}

#online{
    color: white;
}

#online button{
    background-color: black;
    background:linear-gradient();
    color: white;
    border-radius: 60px 60px 60px 60px;
}

#vertical{
    position: relative;
    color: white;
}
/* 月1万円台からのプランをご用意 */
#plan1{
    width: 100%;
    text-align: center;
}

#plan2{
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
}

#plan2 .container{
    text-align: center;
}

#detail {
    text-align: center;
    width: 100%;
}

/* Formeとは */

/* プラン詳細 */

#plan3 > p{
    text-align: center;
}

#contact{
    display: flex;
    text-align: center;
}

/* 講師 */
#teacher.title{
    text-align: center;
}

/* お知らせ */
#news .article{
    color: white;
    justify-content: space-between;
}





